n8n_workflows/lidia_google_proxy.json
{
  "name": "lidia-google-proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lidia-google",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "lidia-google-proxy"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "leftValue": "={{ $json.headers['x-lidia-token'] }}",
              "rightValue": "={{ $env.LIDIA_PROXY_TOKEN }}",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "auth",
      "name": "Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": false, \"error\": \"unauthorized\"}",
        "options": {"responseCode": 401}
      },
      "id": "deny",
      "name": "Deny",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 600]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "sheets.read", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "sheets.read"},
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "sheets.append", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "sheets.append"},
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "sheets.read_cell", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "sheets.read_cell"},
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "sheets.update", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "sheets.update"},
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "drive.search", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "drive.search"},
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "drive.list", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "drive.list"},
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "drive.download", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "drive.download"},
            {"conditions": {"options": {"caseSensitive": true}, "conditions": [{"leftValue": "={{ $json.body.action }}", "rightValue": "gmail.send", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "gmail.send"}
          ]
        },
        "options": {"fallbackOutput": "none"}
      },
      "id": "switch",
      "name": "Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "={{ $json.body.params.sheet_id }}", "mode": "id"},
        "sheetName": {"__rl": true, "value": "={{ $json.body.params.range }}", "mode": "name"},
        "options": {"returnFirstMatch": false}
      },
      "id": "sheets_read",
      "name": "Sheets Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 0],
      "notes": "Lê range completo. Range pode ser 'Sheet1' ou 'Sheet1!A1:Z'."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {"__rl": true, "value": "={{ $json.body.params.sheet_id }}", "mode": "id"},
        "sheetName": {"__rl": true, "value": "={{ $json.body.params.range }}", "mode": "name"},
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "sheets_append",
      "name": "Sheets Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 100]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {"__rl": true, "value": "={{ $json.body.params.sheet_id }}", "mode": "id"},
        "sheetName": {"__rl": true, "value": "={{ $json.body.params.range }}", "mode": "name"},
        "options": {}
      },
      "id": "sheets_read_cell",
      "name": "Sheets Read Cell",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {"__rl": true, "value": "={{ $json.body.params.sheet_id }}", "mode": "id"},
        "sheetName": {"__rl": true, "value": "={{ $json.body.params.range }}", "mode": "name"},
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "sheets_update",
      "name": "Sheets Update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.body.params.query }}",
        "filter": {"folderId": {"__rl": true, "value": "={{ $json.body.params.folder_id }}", "mode": "id"}},
        "options": {"fields": ["id", "name", "mimeType", "webViewLink", "webContentLink", "size"]}
      },
      "id": "drive_search",
      "name": "Drive Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "",
        "filter": {"folderId": {"__rl": true, "value": "={{ $json.body.params.folder_id }}", "mode": "id"}},
        "options": {"fields": ["id", "name", "mimeType", "webViewLink", "webContentLink", "size"]}
      },
      "id": "drive_list",
      "name": "Drive List",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 500]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {"__rl": true, "value": "={{ $json.body.params.file_id }}", "mode": "id"},
        "options": {}
      },
      "id": "drive_download",
      "name": "Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [900, 600]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst bin = item.binary && item.binary.data;\nreturn [{ json: { content_b64: bin ? bin.data : '', mimetype: bin ? bin.mimeType : 'application/octet-stream', name: bin ? bin.fileName : '' } }];"
      },
      "id": "drive_download_b64",
      "name": "Encode Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.params.to }}",
        "subject": "={{ $json.body.params.subject }}",
        "message": "={{ $json.body.params.body }}",
        "options": {"appendAttribution": false}
      },
      "id": "gmail_send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"data\": $json }",
        "options": {}
      },
      "id": "respond_ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Auth", "type": "main", "index": 0}]]},
    "Auth": {"main": [[{"node": "Route", "type": "main", "index": 0}], [{"node": "Deny", "type": "main", "index": 0}]]},
    "Route": {
      "main": [
        [{"node": "Sheets Read", "type": "main", "index": 0}],
        [{"node": "Sheets Append", "type": "main", "index": 0}],
        [{"node": "Sheets Read Cell", "type": "main", "index": 0}],
        [{"node": "Sheets Update", "type": "main", "index": 0}],
        [{"node": "Drive Search", "type": "main", "index": 0}],
        [{"node": "Drive List", "type": "main", "index": 0}],
        [{"node": "Drive Download", "type": "main", "index": 0}],
        [{"node": "Gmail Send", "type": "main", "index": 0}]
      ]
    },
    "Sheets Read": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Sheets Append": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Sheets Read Cell": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Sheets Update": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Drive Search": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Drive List": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Drive Download": {"main": [[{"node": "Encode Base64", "type": "main", "index": 0}]]},
    "Encode Base64": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Gmail Send": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "active": false
}
